@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@layer utilities {
    .page {
        @apply flex justify-end max-xl:flex-wrap;
    }
    .page .content {
        @apply ml-4 grid grid-cols-2 list-disc;
    }
    .page .title {
        @apply absolute text-9xl w-40 -inset-x-28 bottom-20;
    }
    .arrow{
        @apply flex flex-col max-xl:flex-col max-lg:flex-row gap-5;
    }
    .arrow .arrow-btn {
        @apply p-4 sm:p-[5px] rounded-full border-2 border-white bg-black hover:border-yellow-300;
    }
    .input {
        @apply bg-black border-2 rounded-none w-full py-5 pl-3 mb-4 placeholder:text-2xl;
    }
    .text-lg {
        @apply text-6xl
    }
    .text-medium {
        @apply text-3xl;
    }
    .text-normal{
        @apply text-2xl;
    }
}